<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Not Found</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/app.js" defer></script>
</head>

<body class="home">
    <div class="center">
        <header>
            <h1>QR Codes Plovdiv</h1>
        </header>

        <p>404</p>
        <p>Couldn't find this ID, it might have been deleted or you mistyped it.</p>
        
        <input id="search" placeholder="Search IDs">
    </div>
</body>
</html>